
<div class="container">
	<% if admin_signed_in? %>
	<div class="row">
		<br/>
		<div class="col-lg-8 col-md-4">
		</div>
		<div class="col-lg-4 col-md-8 col-sm-12">
			<div class="btn-group" role="group" aria-label="Basic example">
			  <%= link_to "Archived", orders_archived_orders_path, class: "btn btn-secondary" %>
			  <%= link_to "All", orders_path, class: "btn btn-secondary" %>
			</div>
		</div>
	</div>
	<% end %>
	<br/>
	<div class="row">
	<% if !@orders.empty? %>
		<table class="striped responsive-table">
			<thead>
				<tr>
					<th>Placed By</th>
					<th>Placed On</th>
					<th>Status</th>
					<% if admin_signed_in? %>
					<th colspan="3"></th>
					<% else %>
					<th colspan="1"></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
			<% @orders.each do |order| %>
			<% if !order.archived %>
				<tr>
					<td><%= order.placed_by %></td>
					<td><%= order.created_at %></td>
					<% if order.status == nil %>
					<td>Order not confirmed yet.</td>
					<% elsif order.status == true %>
					<td>Order Confirmed</td>
					<% elsif order.status == false %>
					<td>Order has been denied. Contact the team</td>
					<% end %>
					<td><%= link_to "Show", order_path(order.id), class: "btn btn-primary btn-sm" %></td>
					<%if admin_signed_in? %>
					<td><%= link_to "Cofirm Order?", order_confirm_path(order_id: order.id), class: "btn btn-primary btn-sm", id: "confirmOrder" %></td>
					<td><%= link_to "Deny Order", order_deny_path(order_id: order.id), class: "btn btn-primary btn-sm", id: "denyOrder" %></td>
					<td><%= link_to "Archive Order", order_archive_path(order_id: order.id), class: "btn btn-primary btn-sm", id: "archiveOrder" %></td>
					<td><%= link_to "Dispatch Order", order_dispatch_order_path(order_id: order.id), class: "btn btn-primary btn-sm", id: "dispatchOrder" %></td>
					<td><%= link_to "Delete", order, class: "btn btn-primary btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				</tr>
			<% end %>
			<% end %>
			</tbody>
		</table>
		<center><%= will_paginate @orders %></center>
	<% else %>
		<center><p> No order Yet </p></center>
	<% end %>
	</div>		
</div>


<!-- <div class="container">
	<div class="row">
		<ul class="collection">
		    <li class="collection-item avatar">
		      <img src="images/yuna.jpg" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle">folder</i>
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle green">insert_chart</i>
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle red">play_arrow</i>
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		</ul>
	</div>
</div>
 -->