<div class="container">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Shipping to</th>
					<th>Placed On</th>
					<th>Status</th>
					<% if admin_signed_in? %>
					<th colspan="3"></th>
					<% else %>
					<th colspan="1"></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.shipping_to %></td>
					<td><%= order.created_at %></td>
					<% if order.status == nil %>
					<td>Order not confirmed yet.</td>
					<% elsif order.status == true %>
					<td>Order Confirmed</td>
					<% elsif order.status %>
					<td>Order has been denied. Contact the team</td>
					<% end %>
					<td><%= link_to "Show", order_path(order.id), class: "btn btn-primary" %></td>
					<%if admin_signed_in? %>
					<td><%= link_to "Cofirm Order?", order_confirm_path(order_id: order.id), remote: true, class: "btn btn-success", id: "confirmOrder" %></td>
					<td><%= link_to "Deny Order?", order_deny_path(order_id: order.id), remote: true, class: "btn btn-danger", id: "denyOrder" %></td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>