<%= simple_form_for(@address) do |f| %>
  <% if f.error_notification %>
    <script type="text/javascript">Materialize.toast(' <%= f.error_notification %>', 3000, 'rounded')</script>
  <% end %>
  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :phone_number, required: true %>
    <%= f.input :plot_no, required: true %>
    <%= f.input :street, required: true %>
    <%= f.input :locality, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :state, required: true %>
    <%= f.input :pincode, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
