<%= simple_form_for(@product) do |f| %>
  <% if f.error_notification %>
    <script type="text/javascript">Materialize.toast(' <%= f.error_notification %>', 3000, 'rounded')</script>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :image, label:"Upload Image", label_html: {class: "btn btn-primary"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
