<div class="container">
  <br>
  <% if admin_signed_in? %>
  <%= link_to 'New Product', new_product_path, class: "waves-effect waves-light btn-large" %>
  <% end %>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col l4 m6 s12">
        <div class="card product-card">
          <div class="card-image">
            <%= image_tag product.image.url(:medium), size: "210x150" %>
          </div>
          <div class="card-content">
          <span class="card-title activator grey-text text-darken-4" style="font-size:18px"><%= product.name %><i class="material-icons right">more_vert</i></span>
          <p>Price: <%= product.price %></p>
          <p>Rating: <%= product.average_rating.round(2) %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= product.name %><i class="material-icons right">close</i></span>
            <p><%= product.description %></p>
          </div>
          <div class="card-action">
              <div class="right">
                <%= link_to "Show", product, class: "waves-effect waves-light btn" %>
              </div>
              <div class="left">
                <%= link_to cart_add_path( id:  product.id ),remote: true, class: "btn-floating btn-large waves-effect waves-light red", onclick: "Materialize.toast('Added to cart', 4000)", id: "add_to_cart" do %>
                  <i class="material-icons" title="Add to Cart">add</i>
                <% end %>
              </div>
          </div><!-- 
          <div class="card-action">
            <% if admin_signed_in? %>
              <div class="right">
                <%= link_to "Edit", edit_product_path(product), class: "waves-effect waves-light btn"  %>
              </div>
              <div class="left">
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn"  %>
              </div>
            <% end %>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <center><%= will_paginate @products %></center>
  </div>
</div>

<!-- 
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
      <% @products.each_with_index do |product, index| %>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-block">
                <%= image_tag product.image.url(:medium), class: "card-img-top img-responsive", size: "210x150" %>
                <h4 class="card-title"><%= product.name %></h4>
                <p class="card-text"><%= truncate(product.description, length: 20) %></p>
                <%= link_to "Add to cart", cart_add_path( id:  product.id ), remote: true, class: "btn btn-primary btn-lg btn-sm btn-md" %>
                <%= link_to "Show", product, class: "btn btn-success btn-sm btn-md btn-lg" %><br/><br/>
                <% if admin_signed_in? %>
                  <%= link_to "Edit", edit_product_path(product), class: "btn btn-info" %>
                  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><p> Price: <%= product.price %></p></li>
              </ul>
            </div>
          </div>
      <% end %>
  </div>
  <div class="row">
    <center><%= will_paginate @products %></center>
  </div>
</div>

<br>
<% if admin_signed_in? %>
<%= link_to 'New Product', new_product_path %>
<% end %>
 -->
