<div class="container">
	<div class="row">
	</div>
	<div class="row">
		<div class="col l4 m6 s12 pull-l1">
			<%= image_tag @product.image.url(:large), size: "320x220" %>
		</div>
		<div class="col l8 m6 s12">	
	      <ul class="collection with-header">
	        <li class="collection-header"><h4><%= @product.name %></h4></li>
	        <li class="collection-item"><p><%= @product.description %></p></li>
	        <li class="collection-item">
	        <%  if @product.average_rating > 0 %>
            <!-- <span><%= @product.average_rating %></span> -->
            	<% @product.average_rating.floor.times do %>
              		<i>&#9733;</i>
            	<% end %>
          	<% else %>
            	<p>No rating</p>
          	<% end %>
          	</li>
	        <li class="collection-item"><h5>Price: <%= @product.price %></h5></li>
	        <li class="collection-item"><%= link_to "Add to cart", cart_add_path( id:  @product.id ), remote: true, class: "waves-effect waves-light btn-large" %></li>
	      </ul>
		</div>
	</div>
	<div class="row">
    <div class="col l12 s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#reviews">Review</a></li>
        <li class="tab col s3"><a href="#specifications">Specification</a></li>
      </ul>
    </div>
    <div id="reviews" class="col l12 md12 s12">
	    <% if user_signed_in? %>
	    <div class="container">
		    <div class="row">
		    	<%= render 'product_reviews/form' %>
		    </div>
	    </div>
	    <% end %>
    	<div class="row">
    	<% @reviews.each do |review| %>
		<ul class="collection">
			    <li class="collection-item avatar">
			    <i class="material-icons circle green">insert_chart</i>
			      <span class="title"><%= review.user_name %></span>
			      <p>
			      	<%= review.review %>
			      </p>
			      <p class="secondary-content"><%= review.rating %></p>
			    </li>      
		</ul>
		<% end %>
    	</div>
    </div>
    <div id="specifications" class="col s12">
    	<div class="row">
	    	<p>
	    		And this is for specifications
	    	</p>
    	</div>
    </div>
  </div> 
</div>


<!-- 


<p><%= image_tag @product.image.url(:large) %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<%= link_to "Add to cart", cart_add_path( id:  @product.id ), remote: true, class: "btn btn-primary" %>
<% if admin_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% end %>
 -->